.list{
    list-style: none;
  
}
.list li{
    display: inline;
    text-transform: capitalize;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color:green;
    border:1px solid black;
    margin:0px 10px;
}

